html,
body {
    margin: 0;
    padding: 0;
    font-family: Questrial;
    background: #457fca;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5691c8, #457fca);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5691c8, #457fca);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    color: white;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;

}

.header h1 {
    font-size: 4vh;
}

.header h2 {
    font-size: 3.5vh;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.8)
}

.header .item {
    display: flex;
    flex-direction: row;
}

.body {
    margin: 5vh 10vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
}

.body .item {
    display: flex;
    flex-direction: column;
    width: 30vw;
    justify-content: space-between;
}

.body .item .sub_item {
    display: flex;
    flex-direction: column;
    height: 39vh;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.body .item h1 {
    font-size: 4vh;
}

.body .item h2 {
    font-size: 2vh;
    font-weight: 100;
}

.button {
    margin: 25px 0 0 0;
    display: block;
    border-radius: 10px;
    background-color: transparent;
    border: none;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    cursor: pointer;
    padding: 14px 32px;
    transition: 0.8s;

}

.button:hover {
    transform: scale(1.1, 1.1);
}

.body .slideshow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
}

.body .slideshow .mySlides {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    transition: 2s;
    animation: fading 2s infinite
}

@keyframes fading {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0
    }

    ;
}

/*COPYRIGHT*/

#copyright {
    overflow: hidden;
    margin-top: 5vh;
    padding: 2em 1em;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    text-align: center;
}

#copyright p {
    letter-spacing: 1px;
    font-size: 1.1em;
    color: rgba(255, 255, 255, 0.6);
}

#copyright a {
    display: inline;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 1024px) {
    .header {
        flex-direction: column;
        height: auto;
    }

    .header h1 {
        margin-bottom: 0;
    }

    .header .item {
        justify-content: center;
        flex-wrap: wrap;
    }

    .body {
        flex-direction: column;
    }

    .body .item {
        width: 100%;

    }

    .body .item .sub_item {
        margin: 2vh 0;
    }

    .body .slideshow {
        padding: 2vh 0;
        width: 100%;
    }

    .button {
        font-size: 1.5vh;
    }

    #copyright {
        padding: 0;
    }

}

/*Bottom nav*/

.nav {
    position: relative;
    list-style-type: none;
    display: flex;
    background-color: var(--bg-nav);
    height: 80px;
    border-radius: 20px;
    filter: url("#goo");
    /* border-bottom-right-radius: 20px; */
}

.nav li a {
    text-decoration: none;
    color: var(--color-nav);
    width: 120px;
    height: 100%;
    display: inline-grid;
    place-items: center;
    font-size: 30px;
    z-index: 1;
    position: relative;
    overflow: hidden;
}

.nav li a .title {
    display: none;
}

.nav li a:hover {
    color: var(--bg-body);
}

.nav li a.nav-item-active {
    color: var(--color-nav-active);
    transform: translateY(-20%);
    font-size: 45px;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav li a.nav-item-active .title {
    display: block;
    font-size: 16px;
}

.nav .nav-indicator {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: var(--bg-nav);
    position: absolute;
    top: -35px;
    left: calc(300px - 45px);
    z-index: -1;
    transition: left 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    /* cubic-bezier(0.175, 0.885, 0.32, 1.275) */
}

@keyframes zoom {
    0% {
        width: 0px;
        height: 0px;
        opacity: 0.2;
    }
    100% {
        width: 1500px;
        height: 1500px;
        opacity: 0;
    }
}
